<mat-nav-list>
    <div *ngFor="let q of questions">
      <a [routerLink]="['/questions', q.id]" class="question-summary" mat-list-item>
        <div class="question-item">
          <div class="question-text">
          <div>{{q.title}}</div>
          <div class="desc">{{q.description | slice:0:100}}{{q.description.length > 100 ? '...' : ''}} </div>
        </div>
        <div class="question-tags">
          <mat-chip-list>
            <mat-chip *ngFor="let tag of q.topicTags">{{tag.name}}</mat-chip>
          </mat-chip-list>
        </div>
        <mat-chip-list>
          <mat-chip color="accent" selected>
              {{q.answerCount}} {{q.answerCount == 1 ? 'answer' : 'answers'}} 
          </mat-chip>
        </mat-chip-list>
        </div>
      </a>
      <mat-divider></mat-divider>
    </div>
  </mat-nav-list>