.navigation-container {
  height: 100%;
}
  
.side-navigation {
  width: 250px;
}

.view-content {
  margin-left: 20px;
}

.toolbar-button {
  margin: 10px 5px
}

.search-bar {
  display: inline-flex;
  margin-left: 20px;
  margin-right: 20px;
  font-size: 15px;
  flex: 1 1 auto;
  align-items: baseline;
}

.search-bar mat-form-field {
  width: 100%;
}

.search-button {
  display: inline;
}

.toolbar {
  margin-bottom: 20px;
}