<mat-toolbar>
  <span>Yet another StackOverflow</span>
  <span class="spacer"></span>
</mat-toolbar>
<mat-sidenav-container class="navigation-container">
	<mat-sidenav class="side-navigation" mode="side" opened>
    <mat-nav-list>
      <a routerLink="/ask-question" mat-list-item>Ask a new question</a>
      <a mat-list-item>Your previously asked questions</a>
      <a mat-list-item>Subscribed questions</a>
      <a mat-list-item>Questions answered by you</a>
      <a mat-list-item>Subscribed topics</a>
    </mat-nav-list>
  </mat-sidenav>
	<mat-sidenav-content>
    <div  class="view-content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>


