<mat-toolbar>
  <span>Yet another StackOverflow</span>
  <span class="spacer"></span>
  <div *ngIf="!userService.currentUser">
        <button mat-raised-button class="toolbar-button" (click)="login()">Login</button>
        <button mat-raised-button class="toolbar-button" routerLink="/register">Register</button>
  </div>
  <div *ngIf="userService.currentUser">
    {{userService.currentUser.email}}
    <button mat-raised-button class="toolbar-button" (click)="logout()">Logout</button>
  </div>
</mat-toolbar>
<mat-sidenav-container class="navigation-container">
	<mat-sidenav class="side-navigation" mode="side" opened>
    <mat-nav-list>
      <a routerLink="/ask-question" routerLinkActive="active" mat-list-item>Ask a new question</a>
      <a routerLink="/user-questions" routerLinkActive="active" mat-list-item>Your previously asked questions</a>
      <a mat-list-item>Subscribed questions</a>
      <a mat-list-item>Questions answered by you</a>
      <a mat-list-item>Subscribed topics</a>
    </mat-nav-list>
  </mat-sidenav>
	<mat-sidenav-content>
    <div  class="view-content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>


