<h3>Ask a question</h3>
<form [formGroup]="formControl" (ngSubmit)="submit()" class="question-form">
  <div>
  <mat-form-field appearance="outline" class="question-title">
    <mat-label>Question title</mat-label>
    <input matInput formControlName="title">
  </mat-form-field>
</div>
<div> 
<mat-form-field class="question-description" class="question-desc">
    <textarea matInput 
        rows="6"
        placeholder="Describe your question in detail"
        formControlName="desc"></textarea>
  </mat-form-field>
</div>
<button mat-raised-button>Submit</button>
</form>