<h2>Register</h2>
<form autocomplete="off" novalidate class="login-form" [formGroup]="userRegistration">
  <div>
    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
        <input matInput formControlName="email">
    </mat-form-field>
  </div>
  <div>
    <mat-form-field appearance="outline">
      <mat-label>Password</mat-label>
        <input matInput type="password" formControlName="password">
      </mat-form-field>
  </div>
  <div>
      <mat-form-field appearance="outline">
        <mat-label>Confirm Password</mat-label>
          <input matInput type="password" formControlName="confirm">
        </mat-form-field>
    </div>

  <button mat-raised-button (click)="register()">Login</button>
</form>